<h1>People</h1>
<div class="list-view">
	<% @users.each do |user| %>
		<div class="row">
			<div class="col-xs-4">
				<img src="#" class="list-image-thumbnail">
			</div>

			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-8">
						<h3><%= user.name %></h3>
					</div>
					<div class="col-xs-4">
						<%= user.tipstar_count %>
					</div>
				</div>
				<div class="clear"></div>
				<div class="col-xs-12">
					<p>
						<%= user.description %>
					</p>
				</div>
				<div class="clear"></div>
				<div class="row">
					<div class="col-xs-4">
						<a href="#" class="btn-small">Add</a>
					</div>
				</div>
			</div>
		</div>
		<hr />
	<% end %>
</div>