
<a href="#" class="btn-big">Add</a>
<br />
<a href="#" class="btn-small">Add</a>

<div>
		<h1>Search for a movie</h1>
		<%= form_tag("/search", :method => "get") do %>
  			<%= text_field_tag(:query, nil, :class => "input-xlarge searchInput") %>
  			
		<% end %>
	</div>


